<h3>Your Profile</h3>

<p>
  Name: <%= @user.name %>
</p>

<p>
  Email: <%= @user.email %>
</p>

<p><%= link_to "My gadgets", user_gadgets_path(@user) %></p>

<p><%= link_to "Create Gadget", new_user_gadget_path(@user) %></p>
